name: style

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  style:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'
        extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, exif
        coverage: xdebug

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        id: cache-descom-laravel-auth
        key: ${{ runner.os }}-php-8.1-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-8.1

    - name: Install dependencies
      if: steps.cache-descom-laravel-auth.outputs.cache-hit != 'true'
      run: |
        composer install
        composer dump

    - name: Fix styles
      run: vendor/bin/php-cs-fixer fix

    - uses: EndBug/add-and-commit@v9

    - name: Run style
      run: vendor/bin/php-cs-fixer fix --dry-run --diff --format junit
